@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-family: 'Playfair Display', serif;
  scroll-behavior: smooth;
  background: #F7F1F0;
}

::-webkit-scrollbar {
 display: none;
}